<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="mataheader :: headfragment">
</head>
<body>

<!-- Main Wrapper -->
	<div class="main-wrapper">
		<div th:replace="matatopmenu :: topmenufragment"> </div>
		<div th:replace="mataleftmenu :: leftmenu"></div>

	<!-- Page Wrapper -->
	<div class="page-wrapper">
			
				<!-- Page Content -->
				<div class="content container-fluid">
				
					<!-- Page Header -->
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-heaer"><i class="las la-user-check"> Access Level Association</i></h3><br>
								<ul class="breadcrumb">
						        <li class="breadcrumb-item"> Employee</li>
						       <li class="breadcrumb-item active"><i class="las la-user-check"></i> Access Level Association</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- /Page Header -->
					
					<div class="row">
						<div class="col-md-6">
							<div class="card">
								<div class="card-body">
									<form th:action="@{/employee-to-accesslevel/association/save}" th:object="${employee}" method="POST">
										<input type="hidden" name="id" id="id" th:value="${id}">
										<div class="table_wrapper">
											<table class="table">
												<thead>
													<tr>
														<th>Select</th>
														<th>Access Level</th>
														<th>Zone</th>
														<th>Building Name</th>
														<th>Plant Name</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="accLevel : ${listAccesslevel}">
														<td><input type="checkbox" th:field="*{accessLevel}" th:value="${accLevel.id}"></td>
														<td th:text="${accLevel.name}" th:field="*{accessLevel}" th:value="${accLevel.id}"></td>
														<td  th:text="${accLevel?.zone?.name}"></td>
														<td  th:text="${accLevel?.building?.name}"></td>
														<td  th:text="${accLevel?.building?.plant?.name}"></td>
													</tr>
												</tbody>
											</table>
										</div><br>
										<div class="text-right">
											<button type="submit" class="btn btn-primary">Submit</button>
									   		<a id="cancel">Cancel</a>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
		</div> 

	<div th:replace="matafooter :: footer"></div>
	
	<!-- Datatable JS -->
	<script type="text/javascript" src="/assets/js/jquery.spring-friendly.js"></script>
	<script src="/assets/js/app.js"></script> 
	<script type="text/javascript">
		$(document).ready(function() {
		var redirect = "[[${redirect}]]";
			$("#cancel").html('').append('<a class="btn btn-danger" title="Submit Btn" href="'+redirect+'">Cancel</a>');
			
		});
	</script>
</body>
</html>
