<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="mataheader :: headfragment">
</head>
<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">
		<div th:replace="matatopmenu :: topmenufragment"></div>
		<div th:replace="mataleftmenu :: leftmenu"></div>

		<!-- Page Wrapper -->
		<div class="page-wrapper">

			<!-- Page Content -->
			<div class="content container-fluid">

				<!-- Page Header -->
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-heaer">
								<i class="las la-user-check"> <b><span th:text="${title}"></span></b></i>
							</h3>
							<br>
							<ul class="breadcrumb">
								<li class="breadcrumb-item">Access Level</li>
								<li class="breadcrumb-item active"> <span th:text="${title}"></span></li>
							</ul>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-body">
								<form action="#" th:action="@{/access-level/add}" th:object="${accessLevel}" method="POST">
									
									<input type="hidden" th:field="*{id}">
									<input type="hidden" th:value="${title}" name="title">
										 
									<div class="form-group">
										<label><b>Name:<font color="red">*</font></b></label> 
										<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger"></p> 
										<input type="text"
											th:field="*{name}" placeholder="Enter Access Level Name" maxlength="50"
											class="form-control">
									</div>
									
									<div class="form-group">
										<label><b>Building:</b></label> 
										<select name="building" th:field="*{building}" class="form-control">
											<option value="">Select Building</option>
											<option th:each="building : ${listBuilding}"
												th:value="${building.id}" th:text="${building.name}"></option>
										</select>
									</div>
									<div class="form-group">
										<label><b>Zone:</b></label> 
										<select name="zone" th:field="*{zone}" class="form-control">
											<option value="">Select Zone</option>
											<option th:each="zone : ${listZone}"
												th:value="${zone.id}" th:text="${zone.name}"></option>
										</select>
									</div>
									
									<div class="form-group">
										<label><b>Devices:</b></label><br>
										<label><b>Select All</b></label>&nbsp;&nbsp;&nbsp;
										<input type="checkbox" name="door" onclick="CheckAll(this)" /><br>
										<div class="stats-list">
										<th:block th:each="device : ${listDevice}" >
										
							                <input type="checkbox" class="check-all" name="device" th:field="*{device}" th:value="${device.id}"/>
							                 <label th:text="${device.name}"></label><br>
							               </th:block></div>
									</div>
									
									<div class="text-right">
										<button type="submit" class="btn btn-primary">Submit</button>
									    <a class="btn btn-danger" title="Submit Btn"  th:href="@{/access-level}">Cancel</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="matafooter :: footer"></div>
	<script src="/assets/js/app.js"></script> 
</body>
</html>